<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VerificacaoCertificadosSSL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <VerificacaoCertificadosSSL.Properties.Settings>
      <setting name="ListaUrl" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://diprocloud.com</string>
            <string>https://diprocloud.pt</string>
            <string>https://dipromed2.cloud.tilaa.com</string>
            <string>https://netsaude.pt</string>
            <string>https://www.diprocloud.com</string>
            <string>https://www.diprocloud.pt</string>
            <string>https://dipromed.dnsalias.com</string>
            <string>https://arturmoreira.eu</string>
            <string>https://www.arturmoreira.eu</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AntecedenciaDiasAviso" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AntecedenciaDiasErro" serializeAs="String">
        <value>3</value>
      </setting>
    </VerificacaoCertificadosSSL.Properties.Settings>
  </applicationSettings>
</configuration>